@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
body{
    background: linear-gradient(to bottom, #6600ff 0%, #ff99cc 100%);
    font-family: 'Comfortaa', cursive;
}
 #clock{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-size: 100px;
 }
